// README
// This is only a .env example
// Use cp or mv (like this: cp env.example .env), then edit .env with your configuration.
// IMPORTANT: Don't forget to add to update your .gitignore with .env (to avoid making your key public!)

// GitHub data fetching has been removed from this project
// If you need GitHub integration, you'll need to re-implement the components

// Set to your username in order to fetch blog data from Medium (otherwise, hardcoded values from Blogs.js are used)
MEDIUM_USERNAME = "YOU MEDIUM USERNAME HERE"
